<h1 i18n="level 1 title |welcome title">  Welcome on my website</h1>
<a i18n="alternate language" i18n-href href="/fr">Français</a>

<router-outlet></router-outlet>
<form method="POST">
  <input type="text" required="required" name="tel" pattern="[0-9]{10}">
  <button i18n="submit button" type="submit">Soumettre</button>
</form>
<span i18n>Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}}</span>
